.container {
  display: flex;
  justify-content: space-around;
  border-color: black;
  border-width: 2px;
  border-radius: 10px;
  border-style: solid;
  font-size: 1.5rem;
}

.green {
  color: green;
}

.red {
  color: red;
}

.th {
  text-align: left;
  padding-right: 3rem;
}
